@font-face {     
    font-family: roboto;     
    src: url('/roboto/Roboto-Regular.ttf'); 
} 
body {     font-family: 'Roboto', sans-serif;     background-color : #008000; }

#content, html, body {
    height: 100%;
}

#main {
    width:calc(100% - 20px);
    height: calc(100% - 20px); 
    bottom: 0%;
    text-align: center;
    background-color: #004000;
    color: white;


    margin-left: 10px;
    margin-right: 10px;
    outline: 1px solid white;
    position: relative;
}

#content {
    background-color: #008000;
}



#headingContainer {
    text-align: left;
}

#controlContainer {
    float: right;
    margin-bottom: 15px;
}

#errorContainer {
    float: left;
    font-size: 150%;
}

#headingContainer > h1, #headingContainer > p {
    display: inline; 
}

#headingContainer > p {
    font-size: 150%;
}

a {
    color: white; 
    text-decoration: none;
}

a:hover {
   color: yellow;
}
    
em {
    font-style: normal;
    font-weight: bold;
}

.fmap_dlg {
    position: absolute;
}

.fmap_dlg label {
    color: white; 
    text-shadow: black -2px 2px 4px;
}

#dlgPhotoMgr {
    overflow: auto;
}

#dlgLargePano {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    overflow:auto;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
}

@media only screen and (min-width: 600px) {
    .fmap_dlg {
        border-radius: 20px;
    }

    #heading {
        height: 100px;
        border: 1px solid #8080ff;
        border-bottom: 1px solid white;
    }

    #dlgAbout {
        left: 25%;
        top: 20%;
        width: 50%;
        height: 512px;    
    }


    #dlgPanoUpload {
        left: 25%;
        top: 100px;
        width: 50%;
        height: 600px;
    }

    #dlgGpxUpload {
        left: 12%;
        top: 25%;
        width: 75%;
        height: 360px;
    }


    #dlgSignup {
        left: 25%;
        top: 10%;
        width: 800px;
        height: 640px;
    }

    #dlgLogin {
        left: 37%;
        top: 25%;
        width: 25%;
        height: 288px;
    }

    #map.preview {
        left: 0px;
        bottom: 0px;
        width: 200px;
        height: 200px;
        display: block;
        position: absolute;
    }

    #searchContainer {
        top: 20px;
        left: 80px;
        width: 300px;
        position: absolute;
    }

    #loginContainer {
        float: right;
    }

    #reportPrivacyConcernContainer {
        float: right;
    }

    #mobileHeadingContainer {
        display: none;
    }
}

@media only screen and (max-width: 599px) {
    
    .fmap_dlg {
        top: 0%;
        left: 0%;
        width: 100%; 
        height: 100%; 
        font-size: 110%;
        overflow: auto;
    }

    .fmap_dlg input {
        font-size: 110%;
    }
    

    #searchContainer {
        top: 0px;
        left: 0px;
        width: 100%;
        position: relative;
    }

    #search {
        background-color: #00a000;
    }


    #map.photomgr {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #map.preview {
        display: none;
    }

    h1 {
        font-size: 120%;
    }

    #headingContainer {
        display: none;
    }

}

@media only screen and (min-width: 1024px) {
    #dlgPhotoMgr {
        left: 0px;
        top: 0px;
        width: 50%;
        height: 100%;
    }

    .photo {
        width: 240px;
        height: 160px;
    }

    #main.photomgr {
        width: 50%;
        left: 50%;
    }

}

@media only screen and (max-width: 1023px) {
    .photo {
        width: 120px;
        height: 80px;
    }

    #dlgPhotoMgr {
        top: 0%;
        left: 0%;
        width: calc(100% - 20px);
        height: calc(50% - 20px);
        margin: 10px;
    }

    #main.photomgr {
        width: 100%;
        height: 50%;
        top: 50%;
    }
}

#searchterm {
    border-radius: 10px;
}

#map a {
    color: blue;
}

input[type=button], input[type=submit], input[type=file], #file1 {
    font-family: 'Roboto';
    border: 0;
    text-transform: uppercase;
    margin: 5px;
}

input[type=text], input[type=password] {
    border: 0;
    border-bottom: 1px solid white;
    outline: 0;
    background: transparent;
    color: white;
    font-family: 'Roboto';
}

.error {
    color: yellow;
}

.selected  {
    border: 1px solid white;
}

#viewContainer {
    clear: both;
    width: 100%;
    position: relative;
    height: calc(100% - 100px);  
}

#panorama {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#map {
    z-index: 999;
}

#panorama, #map {
    overflow: hidden;
}

#about_content, #signup_content {
    height:432px;
    overflow: auto;
    margin: 10px;
}

#signup_content {
    text-align: left;
}


#about_content a {
    text-decoration: underline;
}

#searchContainer {
    background-color: #004000;
    z-index: 9999;
    text-align: left;
}

#search {
    padding: 5px;
    margin-bottom: 0px;
}

#searchResults {
    background-color: white;
    color: black;
    margin-top: 0px;
}

#searchResults a {
    color: blue;
    margin-bottom: 5px;
}

#q {
    font-size: 18pt;
    width: calc(100% - 40px);
}

#imageContainer {
    float: right;
}

#searchBtn {
    right: 0px;
}

.resetPasswordContent {
    font-size: 120%;
}

#reportPrivacyConcern {
    font-weight: bold;
}
