<div id='about_content'>
<h2>About OpenTrailView 360</h2>
<p>OpenTrailView is a project to collect 360-degree panoramas of walking
trails in the whole world. You can submit panoramas anywhere, though at the moment, panorama auto-connection will only work on Europe, Turkey and
Washington State (other small areas can be added on request -
<a href='mailto:nickw4426@gmail.com'>email me</a>).  
Users can upload any 360 panorama (either a 
full sphere, or a cylindrical panorama produced by stitching individual
photos).</p>
<h3>History</h3>
<p> An early version was presented at State Of The
Map Girona way back in 2010 but that version required manual stitching
of panoramas. A further version in 2013 ("OTV2") supported only Google
Photo Spheres so had a limited audience, but since then, 360 cameras
have become more mainstream. Consequently, work on the project has 
restarted and it aims to support all commonly-used 360 cameras out there,
as well as Photo Spheres from the Google camera and even manually-stitched
cylindrical panoramas.</p>
<h3>Why not Mapillary or OpenStreetCam?</h3>
<p>There are a few other applications out there which do a similar thing,
the best known perhaps being the Facebook subsidiary
<a href='http://mapillary.com'>Mapillary</a>
together <a href='http://openstreetcam.org'>OpenStreetCam</a>. Mapillary in
particular is a mature platform, but 
<strong>neither are completely open source</strong> (OpenStreetCam used to be,
but the server has become closed-source recently). Additionally, OpenTrailView
aims to be a little different in focus. It aims to <strong>focus 
specifically on walking and hiking trails</strong> and being a platform
for users to share panoramas of trails with others. The main aim of
OpenTrailView is to allow users to explore the world's walking trails and
wild places, on a 100% free and open source platform (Gitlab repository
<a href='http://gitlab.com/nickw1/opentrailview'>here</a>) untied to any
of the major IT industry players.</p>
<h3>OpenTrailView is tightly bound to OpenStreetMap data</h3>
<p>As a long term OpenStreetMap contributor, I have developed OpenTrailView 
so that it is
<strong>tightly bound to underlying OpenStreetMap data</strong>. Users 
do not have to manually connect panoramas to produce a walkthrough or
virtual tour, or even record a GPS trace. Panoramas are <strong>automatically
linked together by routing along the underlying OpenStreetMap footpaths</strong>. Do please note that at the moment, this will only work in Europe (plus
Turkey) and Washington State, 
due to the constraints of this server. However, there is a fair chance
that I can soon extend to the entire world due to an offer of contribution
to the hosting... watch this space!</p>
<h3>What devices are supported?</h3>
<p>The aim is to support all common 360 cameras, however few have been
tested yet. The sample panoramas on the site were taken with either 
a Ricoh Theta m15 or the Google Camera on an Android device (under 
photo sphere mode). The GoPro Fusion has also been tested to work.
Do note a couple of things though:
    <ul>
    <li>Few devices appear to write the orientation metadata into the image,
    so you will probably have to orient your photos manually. If you login
    and go to Map mode, you can do this by rotating the camera icons.</li>
    <li>Many 360 cameras do not have a GPS chip themselves, for instance the
    Ricoh Theta range. You will need to take the picture from your phone 
    using the camera manufacturer's app to record latitude and longitude 
    information. The Fusion has GPS built in.
    </li>
    </ul>
</p>
<h3>Using OpenTrailView for your own (non-walking-trails) project</h3>
<p>The site <strong>opentrailview.org</strong> is intended for 360 panoramas
of off-road routes, such as walking trails. Please avoid submitting large
numbers of panoramas on roads (occasional ones are fine); I am paying for the
hosting using my own funds and want to keep hosting costs to a minimum by
limiting panoramas to those which are off-road.</p>
<p><strong>However</strong> the software is, as I have indicated, open-source.
You can install your own instance of OpenTrailView on your own server and use
it for whatever purpose you like, not just walking trails. The repository is
<a href='https://gitlab.com/nickw1/opentrailview'>here</a>. You will need
a server with PHP plus an OSM PostGIS database.
To populate this database, you need to:
<ul>
<li>
download a standard `osm.pbf` file, e.g. from <a href='https://download.geofabrik.de'>Geofabrik</a></li>
<li>Use <a href='https://wiki.openstreetmap.org/wiki/Osmosis'>Osmosis</a> to extract the area you want</li>
<li>Use <a href='https://wiki.openstreetmap.org/wiki/Osm2pgsql'>Osm2pgsql</a> to import the data into the database. You need to install PostgreSQL with the PostGIS extensions; see <a href='https://wiki.openstreetmap.org/wiki/PostGIS'>here</a> for more details.</li>
</ul>
</p>
<p><strong>I can provide some support with this; please contact me at
<a href='mailto:opentrailview1@gmail.com'>opentrailview1@gmail.com</a>
</strong></p>
<h3>What can be done at the moment?</h3>
<p>While not a finished product, OpenTrailView 
already has what I consider the fundamental functionality.
You can:
    <ul>
    <li>Upload 360 panoramas. If the panorama contains the appropriate EXIF
    and XMP metadata, it will be automatically positioned at a given 
    latitude and longitude and oriented so that it's facing the correct
    direction.</li>
    <li>Panoramas will be <em>automatically linked together</em> as long
    as they are on an existing OSM way. Thus, in theory, it is possible
    to navigate in all directions from a given panorama as long as there are
    OSM ways present and as long as there are nearby panoramas in each
    direction.</li>
    <li>You can <em>move and rotate your own panoramas</em> via the map
    interface, useful if the
    GPS latitude and longitude was inaccurate or the XMP orientation data
    was not present.</li>
	<li>You can <em>delete your panoramas</em> via the "Manage your panoramas"
	link.</li>
    </ul>
You can login <em>with your OpenStreetMap account</em> (if you don't
have one, sign up <a href='https://openstreetmap.org/user/new'>here</a> - this
will also allow you to create new data for OpenStreetMap!) You can also 
create a separate account with OpenTrailView should you prefer.</p>
<h3>Privacy considerations when taking photos</h3>
<p>Privacy laws in force in many countries do not permit the sharing of
photos with identifiable faces, or car number plates. If you have
either on your shots, or anything else which could violate privacy,
please obscure them via a mechanism 
which does not permit recovery of the private data. For this reason, amongst 
others,
<strong>all uploaded panoramas must be authorised by the site administrator</strong> before they go live. Please note though that <strong>automatic blurring
of people and cars is being worked on</strong>, with encouraging results
so far.</p>
<h3>OAuth2 API</h3>
<p>An OAuth2 API is available; please see <a href='apidoc'>here</a>.</p>
<h3>About the developer</h3>
<p>The developer of OpenTrailView is Nick Whitelegg (OSM username nickw). I have been mapping for OSM since the early days, and have
developed a range of OSM-related software for walkers and hikers over the 
years, including <a href='http://www.free-map.org.uk'>Freemap</a>. My 
other main project is the augmented reality app <a href='http://www.free-map.org.uk/common/hikar.html'>Hikar</a>. My projects are available on
<a href='https://github.com/nickw1'>GitHub</a> and 
<a href='https://gitlab.com/nickw1'>GitLab</a>.</p>
</div>
