<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/otv.css" />
</head>
<body>
<div id='main'>
<h1>OpenTrailView - Register your client app</h1>
<?php
if($msg) {
	echo "<p class='error'>$msg</p>";
}
?>
<form method="post" action="<?=$router->pathFor('processAddApp');?>">
App Name:<br />
<input type="text" name="app_name" /><br />
Redirect URI:<br />
<input name="redirect_uri" type="text"/><br />
<input type="submit" value="Go!" />
</form>
<p><a href='<?=$router->pathFor('root');?>'>Back to main page</a></p>
</div>
</body>
</html>
