<!DOCTYPE html>
<html>
<head>
<title>OpenTrailView 360</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
<link rel='stylesheet' type='text/css' href='css/otv.css' />
</head>

<body>

<div id='main'>
	<h1>opentrailview360 :: Forgot password</h1>
        <?php
        if($msg) {
            echo "<p class='error'>$msg</p>";
        } elseif ($userid && $token) {
            ?>
            <form method='post' action='doResetPassword'>
            New password:
            <input type="password" name="password" />
            <input type="hidden" name="userid" value="<?=$userid?>" />
            <input type="hidden" name="token" value="<?=$token?>" />
            <input type="submit" value="Go!" />
            </form>
            <?php
        } else {
        ?>
        <p>Please enter your email address below. Check your email for a link
        to create a new password.</p>
        <div>
        <form method="post" action="forgotPasswordAction">
        <input type="email" name="email" />
        <input type="submit" value="Go!" />
        </form>
        </div>
        <?php
        }
?>
    <p><a href='<?=$router->pathFor('root') ?>'>Back to main page</a></p>
</div>
</body>
</html>
