<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>OpenTrailView 360 - Explore the world's paths and trails in 360 view</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
<link rel='stylesheet' type='text/css' href='css/otv.css' />

<!--
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js'></script>
<link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css' />
-->
<link rel='stylesheet' type='text/css' href='css/photo-sphere-viewer.css' />
<link rel='stylesheet' type='text/css' href='css/markers.css' />
<link rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css'/>
<script type='text/javascript' src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js'></script>
<script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js'></script>
<link rel='stylesheet' type='text/css' href='https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css' />
<link rel='stylesheet' type='text/css' href='https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css' />
<script type='text/javascript' src='js/bundle.js' defer></script>
</head>

<body>

<div id='main'>
    <div id='heading'>
        <div id='mobileHeadingContainer'><h1>OpenTrailView</h1></div>
        <div id="loginContainer"> </div>
		<div id='reportPrivacyConcernContainer'><a href='#' id='reportPrivacyConcern'>Report privacy issue with this pano</a> | </div>
        <div id='headingContainer'>
            <h1>opentrailview360 :: </h1>
            <p>explore the world's paths and trails and contribute 360 panoramas | <a id='about' href='#'>more...</a></p>
        </div>
        <div id='errorContainer' class='error'>
            <?=$error ? $error : ""?>    
        </div>
        <div id='controlContainer'>
            <img id='select' src="images/cursor-default-click.png" alt="Select panorama" title="Select panorama"/>
            <img id='rotate' src="images/baseline_rotate_right_white_18dp.png" alt="Rotate panoramas" title="Rotate panoramas"/>
            <img id='drag' src="images/drag-variant.png" alt="Move panoramas" title="Move panoramas"/>
            <img id='delete' src="images/baseline_delete_white_18dp.png" alt="Delete panorama" title="Delete panorama"/>
            <img id='uploadpano' src="images/baseline_cloud_upload_white_18dp.png" alt="Upload panorama" title="Upload panorama" />
            <img id='switchModeImg' src='images/baseline_map_white_18dp.png' id='switchModeImg' alt='Map' title='Map' /></a>
        </div>
		<div style='float: left'>
		</div>
    </div>

    <div id='viewContainer'>
        <div id='panorama'></div>
        <div id='searchContainer'>
            <div id='search'>
                <input id='q' type='text'  />
                <div id='imageContainer'>
                <img src='images/search.png' alt='Search' id='searchBtn' />
                </div>
            </div>
            <div id='searchResults' style='clear: both'></div>
        </div>
        <div id='map'></div>
    </div>
</div>
</body>
</html>
